#side-nav-block{
    top: 54px;
}

.lock-nav{
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav-block{
    height: auto;
    padding-top: 0em;
}

.sec-nav{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding-bottom: 1.5em;
    background-color: rgba(232, 252, 252, 0.9);
    z-index: 1;
}

#cata-ser{
    display: flex;
    align-items: flex-end;
}

.sec-nav h1{
    color: teal;
    font-size: 3rem;
    margin: 0.3em;
}

.catagory-box, .search-box{
    color: rgb(100, 100, 100);
    background: white;
    border: 2px solid rgb(100, 100, 100);
    font-size: 1.2rem;
    padding: .3em;
    border-radius: .5em;
    cursor: pointer;
    margin-right: 2em;
    margin-bottom: .2em;
}
.search-box{
    cursor: text;
}

#catag-arrow{
    font-weight: 500;
    font-size: 1.2rem;
    margin-left: 2em;
}

.catagory-box:hover, .search-box:hover{
    color: black;
    border-color: black;
}

.search-box{
    border-radius: 2em;
    margin-bottom: 0.3em;
}

.catagory-list{
    position: absolute;
    right: 155px;
    top: 179px;
    background-color: white;
    width: 20%;
    padding: .5em 1em;
    border: 3px solid rgb(75, 110, 110);
    border-radius: 0 1em;
    /* display: none; */
    z-index: 2;
}

.catagory-list ul{
    list-style: none;
    padding: 0;
}

.catagory-list li{
    border-bottom: 2px solid rgb(175, 175, 175);
    padding-left: 1em;
}

.catagory-list li:hover{
    color: teal;
}

.catagory-list a{
    color: black;
    text-decoration: none;
    padding: .05em;
}

#tick-catag{
    color: rgb(100, 100, 100);
    margin-right: 1em;
    display: none;
}

.content{
    background-color: white;
    margin: 0 auto;
    padding: 1.5em;
    max-width: 1400px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.post-tile{
    background-color: rgb(229, 248, 248);
    width: 300px;
    padding: .4em;
    cursor: pointer;
    margin: 1em;

    /* border: 2px dotted red; */
}

.tile-image{
    width: 100%;
    /* max-height: 500px */
    
}

@media (min-width: 510px){
    .tile-image img{
        width: 100%;
        height: 200px;
    }
}

.discription{
    /* background-color: white; */
    position: relative;
    top: -5px;
}

.discription h2{
    color: rgb(0, 70, 70);
    margin-left: .5em;
}

.discription hr{
    border-color: green;
    width: 90%;
}

.discription p{
    color: gray;
    margin: 0.2em;
}

.post-link{
    text-decoration: none;
}

@media(max-width: 800px){
    .post-tile{
        margin: 10px auto;
    }
    .catagories{
        width: 200px;
    }

    .search-box{
        width: 200px;
    }
}

@media(max-width: 500px){
    .sec-nav{
        flex-direction: column;
    }

    .sec-nav h1{
        text-align: center;
    }

    #cata-ser{
        margin-left: 20px;
    }

    .post-tile{
        width: 80%;
        margin: 1em auto;
    }

    .tile-image img{
        width: 100%;
    }
    .content{
        padding: 0;
    }

    .catagories{
        width: 35%;
    }

    .search-box{
        width: 35%;
    }

}